.nfs*
*.ipynb
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**/__pycache__/**
.ipynb_checkpoints/
datasets/data/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
*.bin
*.safetensors
*.onnx
outputs/
hf_cache/
*.log
.env
detr-finetuned-coco-backup1
detr-finetuned-coco-failed-backup
.pt
.safetensors
*.safetensors
*.pt
detr-debug-test/
detr-finetuned-coco-*/
detr-resnet-50-coco-80class/
.git/